{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="post--manipulate">
        {% if user == post.user %}
        <a href="{% url 'posts:update' post.id %}">수정하기</a>
        <form action="{% url 'posts:delete' post.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="삭제하기">
        </form>
        {% endif %}
    </div>
    <div class="post__title">
        <h1>{{post.title}}</h1>
    </div>
    <div class="post__content">
        <p>{{post.content}}</p>
    </div>
    <div class="post__image">
        {% if post.image %}
        <img src="{{post.image.url}}" width="300" height="300" alt="post_image">
        {% else %}
        <img src="/media/baby.jpeg" width="300" height="300" alt="post_image">
        {% endif %}
    </div>
    <div class="post__comments">
        <form action="{% url 'posts:create_comment' post.id %}" method="POST">
            {% csrf_token %}
            <input type="text" name="content">
            <input type="submit" value="댓글 작성하기">
        </form>
        <ul>
            {% for comment in post.comment_set.all %}
            <li>
                {{comment.user.username}}: {{comment.content}}
                {% if user == comment.user %}
                <form action="{% url 'posts:delete_comment' post.id comment.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="댓글 삭제하기">
                </form>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}