{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="post--manipulate">
        {% if user == post.user %}
        <a href="{% url 'posts:update' post.id %}">수정하기</a>
        <form action="{% url 'posts:delete' post.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="삭제하기">
        </form>
        {% endif %}
    </div>
    <div class="post__user">
        <p>유저이름: {{post.user.username}}</p>
        {% if user.is_authenticated and user != post.user %}
        <form action="{% url 'accounts:follow' post.user.id %}" method="POST">
            {% csrf_token %}
            {% if user not in post.user.followers.all %}
            <input type="submit" value="팔로우하기">
            {% else %}
            <input type="submit" value="팔로우 취소">
            {% endif %}
        </form>
        {% endif %}
    </div>
    <div class="post__followers">
        {% for follower in post.user.followers.all %}
        팔로워: <a href="#">{{follower}}</a>
        {% endfor %}
    </div>
    <div class="post_likes">
        <p class="like-count">{{post.user.followers.count}}</p>
        {% if user.is_authenticated %}
        <button class="like-btn">
            {% if user in post.user.followers.all %}
            좋아요 취소
            {% else %}
            좋아요
            {% endif %}
        </button>
        {% endif %}
    </div>
    <div class="post__title">
        <h1>{{post.title}}</h1>
    </div>
    <div class="post__content">
        <p>{{post.content}}</p>
    </div>
    <div class="post__image">
        {% if post.image %}
        <img src="{{post.image.url}}" width="300" height="300" alt="post_image">
        {% else %}
        <img src="/media/baby.jpeg" width="300" height="300" alt="post_image">
        {% endif %}
    </div>
    <div class="post__comments">
        <form action="{% url 'posts:create_comment' post.id %}" method="POST">
            {% csrf_token %}
            <input type="text" name="content">
            <input type="submit" value="댓글 작성하기">
        </form>
        <ul>
            {% for comment in post.comment_set.all %}
            <li>
                {{comment.user.username}}: {{comment.content}}
                {% if user == comment.user %}
                <form action="{% url 'posts:delete_comment' post.id comment.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="댓글 삭제하기">
                </form>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    let likeBtn = document.querySelector(".like-btn")
    let likeCount = document.querySelector(".like-count")

    axios.defaults.xsrfCookieName = 'csrftoken'
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
    likeBtn.addEventListener("click", function() {
        axios.post("{% url 'posts:likeit' post.id user.id %}")
            .then( res => {
                let message = res.data.message
                let like_count = res.data.like_users
                likeBtn.innerText = message
                likeCount.innerText = like_count
            })
            .catch( err => {
                console.log(err, "문제가 있나봐요...")
            })
    })
</script>
{% endblock %}
